
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@1,200&display=swap');


/* base styles */ 

*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}


body {
  max-width: 100vw;
  overflow-x: hidden;
  background: #ECF9FF;
 
}
 /* nav syles*/
.dojo{
  display:flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
  margin: 0.8em;
  max-width: 100%;
  box-shadow: 0 3px 3px 0 rgba(0,0,0,0.2);
  }

  .heading{
  color:#7856ff;
}
.link1,.link2{
  margin: 10px;
  text-decoration: none;
}

/*Ticket styles */

.mytickets{
  box-shadow: 0 3px 4px 0  rgba(0,0,0,0.1);
  margin-bottom: 0.9em;
  padding: 1.7em;
  border-radius:5px ;
  align-items: center;
  max-width: 100%;
  margin: 1.5em;
  
}
h3{
  margin-bottom:1em ;
}
.myLink{
  text-decoration: none;
  color:black
}

.pill.high {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  flex-wrap: wrap;
}

.pill.medium {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  flex-wrap: wrap;

  }
  
  .pill.low {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    flex-wrap: wrap;
  }
   .ticketTitle{
    margin: 1.5em;
   }
  .ticketcard{
    box-shadow: 0 3px 4px 0  rgba(0,0,0,0.1);
    margin-bottom: 0.9em;
    padding: 1.7em;
    border-radius:5px ;
    align-items: center;
    max-width: 100%;
    margin: 1.5em;
  }
  
    /*Home styles*/

    .container{
      align-items: center;
      margin-left: 1.5em;
      margin-right: 1.5em;
      }

      .card,.card2{
  box-shadow: 0 3px 6px 0  rgba(0,0,0,0.2);
  margin-bottom: 0.9em;
  padding: 1.3em;
  border-radius:5px ;
  align-items: center;
}

h1, h2 {
font-family: 'Courier New', Courier, monospace;
color:#7856ff;

}
/* not-found styles */
.notfound{
  text-align: center;
  margin: 10% auto;
  
}
.paragraph1{
  margin-top: 0.9em ;
  margin-bottom: 0.9em;
}
/* loading styles */
.loading{
  text-align: center;
  margin: 10% auto;
}
main {
 
}
main > h2 {

}
p > a {
 
}

/* nav styles */
/*
nav {
  @apply
    pb-4
    border-b-2 border-gray-200
    flex items-center gap-5 
    my-10 mx-auto 
    max-w-5xl;
}
nav a, nav span {
 
}
nav a:hover {
 
}
main nav {
 
}

/* button styles */

.btn {
 display: flex;
 justify-content: center;
 align-items: center;
}
button:hover {

}
.btn-primary {
 background-color:#7856ff; 
 color: #fff;
 padding: 0.5em;
 font-weight: bold;
 margin: 1em;
}
.btn-secondary {
 
}

/* form styles */
/*
form {
  @apply 
    py-4 px-7 
    bg-primary 
    bg-opacity-5 
    rounded-md 
    block 
    mx-auto 
    min-w-fit w-1/4;
}
form label {
  @apply block;
}
form input,
form textarea,
form select {
  @apply 
    block 
    mt-2 my-4 px-2 py-1 
    rounded-sm w-full;
}
form button {
  @apply block mx-auto;
}

/* feedback styles */
/*
.error {
  @apply 
    border-2 
    border-red-500 
    bg-red-300
    text-red-800 
    py-1 px-2 
    rounded-sm
    block
    max-w-fit
    my-4 mx-auto;
}

/* card styles */
/*
.card {
  @apply 
    bg-white 
    shadow-sm 
    rounded-md 
    py-3 px-4 my-4 
    relative 
    overflow-hidden;
}
.card h3 {
  @apply 
    font-bold text-gray-700 text-sm 
    mb-0;
}
.card p {
  @apply my-4 text-sm leading-6;
}

/* pill styles */
/*
.pill {
  @apply 
    py-1 px-2 mt-3
    inline-block 
    text-xs font-semibold;
}
.pill.high {
  @apply bg-red-300 text-red-600;
}
.pill.medium {
  @apply bg-blue-300 text-blue-600;
}
.pill.low {
  @apply bg-emerald-300 text-emerald-600;
}
.card .pill {
  @apply 
    absolute bottom-0 right-0 
    rounded-tl-md;
}

*/ 